.checkSpam {
  display: flex;
}
.checkContent {
  display: flex;
  flex-direction: column;
}
input,
textarea {
  background-color: "#EDF2F4";
  color: aliceblue;
  opacity: 0.8;
}

.submitSpamButton {
  color: white;
  background: #027373;
  border-radius: 5px;
  padding: 8px 16px;
  font-weight: 500;
}
