@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Ubuntu:ital,wght@1,700&display=swap");
.page-1 {
  background-color: #011126;
}
div {
  background-color: #011126;
}
.main-heading {
  font-family: "Poppins", sans-serif;
  margin-top: 45px;
  background-color: #011126;
  font-size: 3.6rem;
  /* text-align: center; */
  margin-bottom: 35px;
}
.main-p {
  background-color: #011126;
  margin-bottom: 0px;
}
.main-content {
  background-color: #011126;
  font-family: "Poppins";
  margin-left: 200px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.get-started {
  font-family: "Poppins";
  /* margin-left: 200px; */
  margin-top: 35px;
  width: 170px;
  height: 70px;
  background: radial-gradient(100.94% 1022.79% at 100% 2.36%, #122C6F 0%, #11D9C5 49%, rgba(18, 44, 111, 0.97) 97.83%);
  color: white;
  border-color: #11D9C5;
  border-radius: 8px;
  letter-spacing: 0.1em;
  transition: 0.5s;
}
.get-started:hover {
  width: 160px;
  height: 65px;
  background-color: white;
  color: rgb(0, 0, 0);
}
.mainpic {
  width: 42%;
  height: 42%;
  margin-top: -65px;
  margin-right: 130px;
}

/* .page-2{
    height:100vh;                     
    background-color:beige;
} */
