@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Ubuntu:ital,wght@1,700&display=swap");
.main {
  background-color: #011126;
}
.main-heading {
  max-width: 500px;
  font-family: "Poppins", sans-serif;
  margin-top: 45px;
  font-size: 3.6rem;
  margin-bottom: 35px;
}
.main-p {
  background-color: #011126;
  margin-bottom: 0px;
}
.main-content {
  background-color: #011126;
  font-family: "Poppins";
  margin: 40px 20px;
  padding: 0px 100px;
  padding-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.main-contents{
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
.get-started {
  font-family: "Poppins";
  /* margin-left: 200px; */
  margin: 35px 0px;
  width: 170px;
  height: 70px;
  background: radial-gradient(100.94% 1022.79% at 100% 2.36%, #122C6F 0%, #11D9C5 49%, rgba(18, 44, 111, 0.97) 97.83%);
  color: white;
  border-color: #11D9C5;
  border-radius: 8px;
  letter-spacing: 0.1em;
  transition: 0.5s;
}
.get-started:hover {
  width: 160px;
  height: 65px;
  background-color: white;
  color: rgb(0, 0, 0);
}
.imgContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.mainpic {
  width: 100%;
}

/* .page-2{
    height:100vh;                     
    background-color:beige;
} */

@media (max-width: 1000px){
  .main-content{
    display: flex;
    flex-direction: column-reverse;
    margin: 0 20px;
    padding: 0px;
  }
  .main-contents{
    width: 100%;
  }
  .main-content img{
    width: 100%;
  }
  .main-heading{
    font-size: 32px;
    margin-top: 0px;
  }
  .main-p{
    font-size: 16px;
  }
}