@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Ubuntu:ital,wght@1,700&display=swap');
.page-1{
    background-color:#011126;  
}
div{
    background-color:#011126;
}
h1{
    background-color:#011126;
}
p{
    background-color:#011126;
}
.main-content{
    background-color:#011126;
    font-family:'Poppins';
    margin-left:200px;
    margin-top:100px;
    display:flex;
    justify-content:space-between;
    color:white;
}
.get-started{
    font-family:'Poppins';
    margin-left:200px;
    margin-top:-5px;
    width:150px;
    height:50px;
    background-color: rgb(9, 88, 9);
    color:white;
    border-color: rgb(9, 88, 9);
    border-radius: 5px; 
    letter-spacing: 0.1em;
    transition:0.5s;
}
.get-started:hover{
    width:160px;
    height:65px;
    background-color: white;
    color:rgb(9, 88, 9);
    
}
.mainpic{
    width:300px;
    height:400px;
    margin-top:-100px;
    margin-right:200px;  
}




/* .page-2{
    height:100vh;                     
    background-color:beige;
} */
