.resultsBox {
  color: white;
}
.resultsBox h1{
  text-align: center;
  margin-top: 2rem;
}
.resultsContent {
  padding: 30px 0px;
  background-color: rgba(237, 242, 244, 0.058);
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
img {
  fill: none;
  background-color: transparent;
}
.reportButton {
  color: #011c40;
  font-size: 1.8rem;
  font-weight: 600;
  background: #d32d41;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 2rem;
}
.resultsContent a,
p {
  background: transparent;
  margin-bottom: 15px;
}
.final-result , .final-result h6{
  background-color: #ffffff;
  color: white;
  background: transparent;
  align-items: center;
  justify-content: center;
}
.final-result h6{
  font-size: 24px;
}
.reportButtonCenter{
  background-color: rgba(237, 242, 244, 0.009);
}

@media  screen and (max-width: 800px) {
  .resultsContent{
    flex-direction: column;
    padding: 0px 50px;
    padding-bottom: 3rem;
    font-size: 18px;
    font-weight: normal;
  }
  .reportButtonCenter{
    display: flex;
    background-color: rgba(237, 242, 244, 0.009);
    justify-content: center;
  }
}
