@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&family=Ubuntu:ital,wght@1,700&display=swap');

.footerBox {
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: space-between; 
  align-content: end;
  padding: 2.5rem;
  font-family: 'Poppins';
  
}
.footerAbout {
  display: flex;
  flex-direction: column;
  width: 33%;
}
#main-tag{
  color: #11d9c5;
  font-weight: 600;
font-size: 48px;
}
.p-footer{
  width: 80%;
}
a{
  text-decoration: none;
  color: white;
}
.footerButton{
  width: 45%;
  background: linear-gradient(258.88deg, #11d9c5 5.48%, #027373 69.85%);
  border: 2px solid #11d9c5;
  border-radius: 10px;
  padding: 8px 16px;
  color: white;
}
.footerButton a{
  background: linear-gradient(258.88deg, #11d9c5 5.48%, #027373 69.85%);

}
.footerLinks{
  display: flex;
  flex-direction: row;
  width: 33%;
  justify-content: space-around;
  align-items: center;
}
.footerSocials{
  display: flex;
  flex-direction: row;
  width: 33%;
  justify-content: space-around;
  align-items: center;
  
}
 
